<!DOCTYPE html
{%  load staticfiles %}<!-- New Line -->
{% load static %}
<html>
  <head>
    <title>Simple OCR Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 400px;
        padding-top: 50px;
        text-align: center;
      }
    </style>

  </head>
  <body>

    <div class="container">
      <!-- child templates -->
      {% block content %}{% endblock %}
    </div>

    <!-- scripts -->
    <script src="{% static  "js/jquery.js" %}"></script>
    <script src="{% static  "js/bootstrap.min.js" %}"></script>
    <script src="{% static  "js/script.js" %}"></script>

  </body>
</html>